@font-face {
  font-family: 'trench';
  src: url('/fonts/trench100free.ttf'),url('/fonts/trench100free.otf');
}

@font-face {
  font-family: 'Digital_tech';
  src: url('/fonts/Digital_tech.otf'),url('/fonts/trench100free.otf');
}

@font-face {
  font-family: 'AdamasRegular';
  src: url('/fonts/AdamasRegular.otf'),url('/fonts/trench100free.otf');
}

@font-face {
  font-family: 'complex';
  src: url('/fonts/complex.ttf'),url('/fonts/trench100free.otf');
}

@font-face {
  font-family: 'Gtek';
  src: url('/fonts/Gtek.ttf'),url('/fonts/trench100free.otf');
}

@font-face {
  font-family: 'FREEDOM';
  src: url('/fonts/FREEDOM.ttf'),url('/fonts/trench100free.otf');
}

* {
  font-family: 'trench', sans-serif !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

body {
	background-color: #000;
	color: white;
	padding-top: 70px !important;
}

#navbar-top, #navbar-collapse {
	background-color: transparent;
	border-color: transparent;
	border: 0;
	box-shadow: 0;
}

.btn-navlink {
	border-color: transparent;
	background-color: transparent;
	vertical-align: middle;
	/*margin: 1em;*/
	text-align: left;
	/*padding: 1em;*/
}

.btn-navlink:hover {
	box-shadow: 1em;
}

#navlogo {
	height: 6em;
}

@media (max-width:767px) {
	#navbar-top {
		height: 4em;
	}
	#navlogo {
		height: 4em;
	}
}

.btnsfos, .btnfos * {
	-moz-box-sizing: inherit;
         box-sizing: inherit;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  margin: 0.5em;
}

@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2em;
  }
  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2em;
  }
  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}

.btnfos {
  font-weight: 100;
  border-color: transparent;
  background-color: transparent;
}
.btnfos svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos rect {
  fill: none;
  stroke: #fff;
  stroke-width: 0;
  stroke-dasharray: 422, 0;
}

.btnfos:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
}
.btnfos:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
/* LOADER */


#pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  z-index: 2000;
}

@-webkit-keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@-moz-keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@-o-keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@-webkit-keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@-moz-keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@-o-keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@-webkit-keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
@-moz-keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
@-o-keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
@keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
body .pacman:before, body .pacman:after {
  content: '';
  position: absolute;
  background: #FFC107;
  width: 100px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  -webkit-animation: up 0.4s infinite;
  -moz-animation: up 0.4s infinite;
  -o-animation: up 0.4s infinite;
  animation: up 0.4s infinite;
}
body .pacman:after {
  margin-top: -1px;
  border-radius: 0 0 50px 50px;
  -webkit-animation: down 0.4s infinite;
  -moz-animation: down 0.4s infinite;
  -o-animation: down 0.4s infinite;
  animation: down 0.4s infinite;
}
body .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: 30px;
  border-radius: 50%;
  background: #ccc;
  z-index: -1;
  box-shadow: 30px 0 0 #ccc, 60px 0 0 #ccc, 90px 0 0 #ccc, 120px 0 0 #ccc, 150px 0 0 #ccc;
  -webkit-animation: r-to-l 0.4s infinite;
  -moz-animation: r-to-l 0.4s infinite;
  -o-animation: r-to-l 0.4s infinite;
  animation: r-to-l 0.4s infinite;
}
