<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>nvision 2017</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/stars.css">
		<link rel="stylesheet" href="css/updates.css">
		<style>
			body {
				position: absolute;
				bottom:0;
				top:0;
				/*background-color: transparent;*/
				padding-top: 70px;
			}

		</style>
		<style>
			.md-modal {
				z-index: 2000 !important;
			}
			.md-close{
				color:#fff;
				margin-top: 6em !important;
				border: 1px solid #fff;
				transition-duration: 0.3s;
			}
			.md-close:hover{
				background-color: #fff;
				color:#000;
			}
			.md-content {
				/*width: 70vw;*/
				/*height: 100vh;*/
				text-align: center;
				padding-top: 6em;
				border: 1px solid #fff;
			}
			.md-content {
				background-color: rgba(0,0,0,0.8) !important;
			}
		</style>
	</head>
	<body>
	<div id="pre-loader">
		<div class="pacman"></div>
		<div class="dot"></div>
	</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<div class="md-modal md-effect-19 md-effect-12 md-effect-13" id="updates-modal" style="text-align:center">
			<div class="md-content">
				<h3><b>Updates</b></h3>
				<div>
					<ul>
						<li><strong>Update 1:</strong> You cant miss this update!.</li>
						<li><strong>Update 2:</strong> You cant miss this update!.</li>
						<li><strong>Update 3:</strong> You cant miss this update!.</li>
					</ul>
					<button class="btnfos md-close">Close</button>
				</div>
			</div>
		</div>
		<div class="md-overlay"></div><!-- the overlay element -->

		<%- include('../includes/_nav') %>

		<div class="container-fluid">
			<div class="row center">
				<div class="col-xs-12">
					<h1 style="font-size:3em">ABOUT US</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center" style="font-size:1.5em;">
					<p>
						Started in 2011, ηvision is the techno-management fest organised by the students of IIT Hyderabad with a motto of providing a platform to the technical enthusiasts of our country to explore and innovate and showcase their technical and engineering prowess. Over the past 4 years, ηvision has gradually evolved from an inter college festival to one of the recognised techincal fests of our country.
					</p>
					<p>
						With a broader scope and bigger ideas, ηvision 2017 looks forward to exploring ever widening horizons and surmounting greater heights. With a myriad of events spread across a plethora of domains, &eta;vision 2017 promises to be a platform which shall integrate technology with challenging life problems. A festival full of promise, &eta;vision 2017 shall be a journey more exciting and enthralling than any other to bring out the real geek in any techie.
					</p>
				</div>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/materialize.min.js"></script>
		<script src="js/main.js"></script>
<script src="/js/updates.js"></script>
	</body>
</html>
