<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<style>
body {
    margin-top: 2%
}
</style>


</head>

<body>

<div class="container">
    <div class="row">
        <a href="/checkin" class="btn btn-default">check in </a>
        <a href="/admin/team" class="btn btn-default">Team registration</a>
        <a href="/admin/onspot" class="btn btn-default">Event registration</a>
        <a href="/admin/user" class="btn btn-default">New user</a>
    </div>
	<div class="row">
        <h1>Onspot registration</h1>
        <div class="col-md-3">
                <div class="input-group">
                    <input class="form-control" id="qsearch" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button id="search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
                <div class="form-group">
                    <label for="selev">Event:</label>
                    <select class="form-control selectpicker" data-live-search="true" id="selev" title="select event">
                        {{#each events}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <button id="createteam" class="btn btn-info">Register</button>
                <button id="clear" class="btn btn-warning">Clear</button>
                <p class="result"></p>
        </div>
        <div class="col-md-9"></div>
		<div class="col-md-12">
    	 <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th></th>
                            <th>IITH ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>College</th>
                            <th style="display: none">Select</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>   
		</div>
	</div>
</div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js'></script>

    <script>

    function checkin(i) {
        var $this = $("button[data-index='"+i+"']");
        var data = {
            check: true
        }
        $this.html("saving")
        $.post("/checkin/"+i, data, function(data, sts){
            if (!data || !data.status) {
                $this.html("Error, click again");
            }
            else {
                $this.parent().html("Checked in");
            }
        });
    }

    function removetd(el) {
        $(el).parent().parent().remove();
    }
$(document).ready(function() {
    $("#qsearch").on("keypress", function(e){
        if (e.charCode == 13) {
            $("#search").click();
        }
    })
    $("#clear").click(function(){
        $(".result").html("");
        $("tbody").html("");
        $("#name").val("");
    })
    function pad(num, size) {
        var s = num+"";
        while (s.length < size) s = "0" + s;
        return s;
    }
    $("#createteam").click(function(){
        var mem = $(".selmem:checked").map(function(){return $(this).attr('data-id')}).get()
        if (mem.length != 1) {
            $('.result').html('Selct a user');
            return;
        }
        var ev = $("#selev").val();
        if (!ev) {
            $(".result").html("Select event");
            return;
        }
        var data = {
            event:ev,
            user: mem[0]
        };
        $.post('/admin/onspot', data, function(dt, st){
            console.log(dt);
            if (dt.status) {
                $(".result").html("Registered")
            }
            else {
                $(".result").html("Error registering");
            }
        })
    })
    $("#search").click(function(){
        var q = $("#qsearch").val();
        if (q.toUpperCase().substring(0, 6) == "IITH17") {
            q = q.toUpperCase();
            $.post('/checkin/user', {q: q}, function(data, sts){
                if (data) {
                    $(".result").html("");
                    $("tbody").html(`
                        <tr>
                            <td><span onclick="removetd(this)">&times</span></th>
                            <td>${q}</td>
                            <td>${data.name.first} ${data.name.last}</td>
                            <td>${data.email}</td>
                            <td>${data.phone}</td>
                            <td>${data.college}</td>
                            <td style="display: none"><input type="checkbox" class="selmem" data-id="${data._id}" checked disabled></td>
                        </tr>
                    `);
                }
                else {
                    $("tbody").html("");
                    $(".result").html("User not found");
                }
            });
        }
        else {$(".msg").html("Enter correct iith id")}
        // else {
        //     $.get('/keystone/api/users?search='+encodeURIComponent(q)+'&fields=name%2Cuserid%2Cemail%2Ccollege%2Cphone%2CcheckedIn&limit=100&sort=name&expandRelationshipFields=false',
        //     function(dat, sts){
        //         $("tbody").html("");
        //         for (x in  dat.results) {
        //             var data = dat.results[x];
        //             $("tbody").append(`
        //                 <tr>
        //                     <td>${"IITH17"+pad(data.fields.userid, 4)}</td>
        //                     <td>${data.name}</td>
        //                     <td>${data.fields.email}</td>
        //                     <td>${data.fields.phone}</td>
        //                     <td>${data.fields.college}</td>
        //                     <td>${data.fields.checkedIn ? "Checked in " : '<button class="save" onclick="checkin(\''+data.id+'\')" data-index="'+data.id+'">Check in</button>'}</td>
        //                 </tr>
        //             `);
        //         }
        //     })
        // }
    });
    // $(".save").click(function(){
    //     console.log('save');
    //     var $this = $(this);
    //     var i = $this.attr("data-index");
    //     var data = {
    //         check: true
    //     }
    //     $this.html("saving")
    //     $.post("/checkin/"+i, data, function(data, sts){
    //         if (!data || !data.status) {
    //             $this.html("Error, click again");
    //         }
    //         else {
    //             $this.parent().html("Checked in");
    //         }
    //     });
    // });
});
    </script>

</body>

</html>