<!DOCTYPE html>
<html lang="en-IN">

<head>
  <meta charset="utf-8">
	<title>Exhibitions | &eta;vision 2017 | Techno management fest of IIT Hyderabad</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="&eta;vision is the techno-management fest of IIT Hyderabad.">
	<meta name="copyright" content="&eta;vision 2017">
	<meta name="author" content="&eta;vision 2017">
	<meta name="keyword" content="nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
	<meta name="robots" content="index, follow">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="&eta;vision">
	<meta property="og:title" content="&eta;vision 2017">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://nvision.org.in/img/logo.png">
	<meta property="og:url" content="https://nvision.org.in/exhibitions/">
	<meta property="og:description" content="&eta;vision: techno-management Fest of IIT Hyderabad">
  
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/updates.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="css/stars.css" media="only screen and (min-width: 600px)">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .md-close {
      color: #fff;
      margin-top: 6em !important;
      border: 1px solid #fff;
      transition-duration: 0.3s;
    }
    
    .md-close:hover {
      background-color: #fff;
      color: #000;
    }
    
    .md-content {
      /*width: 70vw;*/
      /*height: 100vh;*/
      text-align: center;
      padding-top: 6em;
      border: 1px solid #fff;
    }
    
    .md-content {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }


    .form-btn {
      width: 100%;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      background: #1AAB8A;
      color: #000;
      border: none;
      position: relative;
      height: 40px;
      font-size: 1.2em;
      padding: 0.5em 2em;
      cursor: pointer;
      transition: 800ms ease all;
      outline: none;
    }
    
    .form-btn:hover {
      background: #000;
      color: #1AAB8A;
    }
    
    .form-btn:before,
    .form-btn:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 0;
      background: #1AAB8A;
      transition: 400ms ease all;
    }
    
    .form-btn:after {
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0;
    }
    
    .form-btn:hover:before,
    .form-btn:hover:after {
      width: 100%;
      transition: 800ms ease all;
    }

  </style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89025632-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body class="custom-scrollbar" style="overflow-x:hidden">
  <div id="pre-loader"></div>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>

  <div class="md-modal md-effect-19 md-effect-12 md-effect-13" id="updates-modal" style="text-align:center">
    <div class="md-content">
      <h3><b>Updates</b></h3>
      <div>
        <ul>
          <li><strong>Update 1:</strong> You cant miss this update!.</li>
          <li><strong>Update 2:</strong> You cant miss this update!.</li>
          <li><strong>Update 3:</strong> You cant miss this update!.</li>
        </ul>
        <button class="btnfos md-close">Close</button>
      </div>
    </div>
  </div>
  <div class="md-overlay"></div>
  <!-- the overlay element -->

  <nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-activates="slide-out" class="navbar-toggle collapsed button-collapse" aria-expanded="false" style="background-color:#000;position:fixed;right:0">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
        <a class="navbar-brand mobile" href="/">
          <img id="navlogo" alt="Brand" src="/img/nvision.png">
        </a>
      </div>
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="userView">
            <a href="/"><img class="img-responsive" src="/img/nvision_b.png"></a>
          </div>
        </li>
        <li>
          <div class="divider"></div>
        </li>

        <li>
          <a class="btnfos md-trigger md-setperspective" data-modal="updates-modal">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Updates&nbsp;<span style="color:#f00;font-size:1.2em;font-weight:bold">&#33;</span></a>
        </li>
				<li>
					<a href="/about" class="btnfos">
						<svg>
							<rect x="0" y="0" fill="none" width="100%" height="100%" />
						</svg>About</a>
				</li>
        <li>
          <a href="/events" class="btnfos">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Events</a>
        </li>
        <li>
          <a href="/exhibitions" class="btnfos">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Exhibitions</a>
        </li>
        <li>
          <a href="/sponsors" class="btnfos">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Sponsors</a>
        </li>
        <li>
          <a href="/workshops" class="btnfos">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Workshops</a>
        </li>
				<li>
					<a href="https://blog.nvision.org.in/" class="btnfos">
						<svg>
							<rect x="0" y="0" fill="none" width="100%" height="100%" />
						</svg>Blog</a>
				</li>
        <li>
          <a href="/team" class="btnfos">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Team</a>
        </li>
        <li class="dropdown">
          <a href="#" class="btnfos dropdown-toggle" data-toggle="dropdown">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Archives<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="https://old.nvision.org.in/" class="btnfos" target="_blank">2016</a></li>
            <li><a href="/2014" class="btnfos" target="_blank">2014</a></li>
          </ul>
        </li>
      </ul>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-left" style="width:37%;">
          <li style="width:25%">
            <a class="btnfos md-trigger md-setperspective" data-modal="updates-modal">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Updates&nbsp;<span style="color:#f00;font-size:1.2em;font-weight:bold">&#33;</span></a>
          </li>
          <li style="width:25%">
            <a href="/events" class="btnfos">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Events</a>
          </li>
          <li style="width:25%">
            <a href="/sponsors" class="btnfos">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Sponsors</a>
          </li>
          <li style="width:25%">
            <a href="/workshops" class="btnfos">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Workshops</a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-left" style="width:23%;">
          <li style="width:100%;">
            <a href="/" class="btnfos">
              <img src="/img/nvision.png" width="300">
            </a>
          </li>
        </ul>  
        <ul class="nav navbar-nav navbar-right" style="width:40%;">
          <li style="width:20%">
            <a href="/exhibitions" class="btnfos">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Exhibitions</a>
          </li>
          <li style="width:20%">
            <a href="https://blog.nvision.org.in/" class="btnfos">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Blog</a>
          </li>
          <li style="width:20%">
            <a href="/team" class="btnfos">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Team</a>
          </li style="width:20%">
          <li class="dropdown" style="width:20%">
            <a href="#" class="btnfos dropdown-toggle" data-toggle="dropdown">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Archives<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://old.nvision.org.in/" class="btnfos btnfosd" target="_blank">2016</a></li>
              <li>
                <a href="/2014" class="btnfos btnfosd" target="_blank">2014</a>
              </li>
            </ul>
          </li>
          <li style="width:20%">
            <a href="/auth" class="btnfos">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
              </svg>Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    
    <div class="row">
      <div class="col-lg-6">
        <h3 style="text-align:center">Signup</h3>
        <div>
          
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" name="name" type="text" class="validate input-signup">
            <label for="name">Name</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="signup-email" name="email" type="email" class="validate input-signup">
            <label for="signup-email">Email</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">business</i>
            <input id="college" name="college" type="text" class="validate input-signup">
            <label for="college">College</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input id="phone" name="phone" type="number" class="validate input-signup">
            <label for="phone">Phone</label>
          </div>


          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="signup-password" name="password" type="password" class="validate input-signup">
            <label for="signup-password">Password (>=6 characters)</label>
          </div>

          <button id="signup" class="form-btn" type="submit">Signup</button>

        </div>

      </div>

      <div class="col-lg-6">
        <h3 style="text-align:center">Login</h3>
        <div>
          
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="login-email" name="email" type="email" class="validate input-login">
            <label for="login-email">Email</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="login-password" name="password" type="password" class="validate input-login">
            <label for="login-password">Password</label>
          </div>

          <button id="login" class="form-btn" type="submit">Login</button>

        </div>
      </div>

    </div>

  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/materialize.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/updates.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){

      $('input').unbind().blur(function(){
        if( ( $(this).attr('name')!='password' && /^\s*$/.test($(this).val())) || $(this).val()=="" ){
          $(this).removeClass('valid').addClass('invalid');
        } else {
          $(this).removeClass('invalid').addClass('valid');
        }
      });

      $("#signup").click(function(){

        var invalidFlag = false;
        $('input.input-signup').each(function(){
          if(( $(this).attr('name')!='password' && /^\s*$/.test($(this).val())) || $(this).val()=="" ) invalidFlag = true;
        });

        if(invalidFlag) {
          alert('All fields are mandatory');
        } else if($("#signup-password").val().length <6){
          alert('Password length should be >=6')
        } else {

          var body = {
            name: $("#name").val(),
            email: $("#signup-email").val(),
            college: $("#college").val(),
            phone: $("#phone").val(),
            password: $("#signup-password").val()
          };

          console.log(body);

          $("#signup").prop('disabled',true);
          $.post('/signup/{{signupToken}}',body,function(res){
            $("#signup").prop('disabled',false);
            if(res.status){
              window.location = res.redirectURL;
            } else {
              alert(res.message);
            }
          });

        }

      });

      $("#login").click(function(){

        var invalidFlag = false;
        $('input.input-login').each(function(){
          if(( $(this).attr('name')!='password' && /^\s*$/.test($(this).val())) || $(this).val()=="" ) invalidFlag = true;
        });

        if(invalidFlag) {
          alert('All fields are mandatory');
        } else {

          var body = {
            email: $("#login-email").val(),
            password: $("#login-password").val()
          };

          console.log(body);
          $("#login").prop('disabled',true);
          $.post('/login',body,function(res){
            $("#login").prop('disabled',false);
            if(res.status){
              window.location = res.redirectURL;
            } else {
              alert(res.message);
            }
          });

        }

      });

    });
  </script>

</body>

</html>