<!DOCTYPE html>
<html lang="en-IN">

<head>

	<meta charset="utf-8">
	<title>Events | &eta;vision 2017 | Techno management fest of IIT Hyderabad</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="&eta;vision is the techno-management fest of IIT Hyderabad.">
	<meta name="copyright" content="&eta;vision 2017">
	<meta name="author" content="&eta;vision 2017">
	<meta name="keyword" content="nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
	<meta name="robots" content="index, follow">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="&eta;vision">
	<meta property="og:title" content="&eta;vision 2017">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://nvision.org.in/img/logo.png">
	<meta property="og:url" content="https://nvision.org.in/events/">
	<meta property="og:description" content="&eta;vision: techno-management Fest of IIT Hyderabad">

	<link rel="stylesheet" type="text/css" href="/css/bs.events.css">
	<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="/css/materialize.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/mat.events.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/hexagon.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="/css/updates.css">
	<style>
		body {
			padding-top: 70px !important;
		}
		
		#navbar-top {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)) !important;
		}
	</style>
	<style>
		.md-close {
			color: #fff;
			margin-top: 6em !important;
			border: 1px solid #fff;
			transition-duration: 0.3s;
		}
		
		.md-close:hover {
			background-color: #fff !important;
			color: #000 !important;
		}
		
		.md-content {
			/*width: 70vw;*/
			/*height: 100vh;*/
			text-align: center;
			padding-top: 6em;
			border: 1px solid #fff;
		}
		
		.md-content {
			background-color: rgba(0, 0, 0, 0.8) !important;
		}

		.animated {
		  -webkit-animation-duration: 1s;
		  animation-duration: 1s;
		  -webkit-animation-fill-mode: both;
		  animation-fill-mode: both;
		}


		@-webkit-keyframes bounceInRight {
		  from, 60%, 75%, 90%, to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(3000px, 0, 0);
		    transform: translate3d(3000px, 0, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(-25px, 0, 0);
		    transform: translate3d(-25px, 0, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(-5px, 0, 0);
		    transform: translate3d(-5px, 0, 0);
		  }

		  to {
		    -webkit-transform: none;
		    transform: none;
		  }
		}

		@keyframes bounceInRight {
		  from, 60%, 75%, 90%, to {
		    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		  }

		  from {
		    opacity: 0;
		    -webkit-transform: translate3d(3000px, 0, 0);
		    transform: translate3d(3000px, 0, 0);
		  }

		  60% {
		    opacity: 1;
		    -webkit-transform: translate3d(-25px, 0, 0);
		    transform: translate3d(-25px, 0, 0);
		  }

		  75% {
		    -webkit-transform: translate3d(10px, 0, 0);
		    transform: translate3d(10px, 0, 0);
		  }

		  90% {
		    -webkit-transform: translate3d(-5px, 0, 0);
		    transform: translate3d(-5px, 0, 0);
		  }

		  to {
		    -webkit-transform: none;
		    transform: none;
		  }
		}

		.bounceInRight {
		  -webkit-animation-name: bounceInRight;
		  animation-name: bounceInRight;
		}

		.hexagon_item {
			z-index: 9999 !important;
		}

		.hexagon_item.club_name {
			z-index: 1000 !important;
		}


		.club-container:hover {
		    box-shadow:0 0 100px #000, 0 0 30px #fff;
		    cursor: pointer;
		}

	</style>
	<style type="text/css">
		canvas {
			position: fixed;
			height: 100vh;
			width: 100vw;
			top: 0;
			left: 0;
			z-index: 1;
			z-index: -1000;
		}
	</style>
	<style type="text/css">
			.collapsible-header,
			.collapsible-body .collection a {
				font-size: 20px;
				font-weight: bold;
				color: #000;
			}
			
			.collapsible-header {
				background: url(/img/club_name_bg.png) rgba(140, 255, 255, 0.9);
			}
			
			.collapsible-body .collection a {
				background: url(/img/club_name_bg.png) rgba(255, 255, 255, 1);
			}
		</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89025632-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

<body class="custom-scrollbar" style="padding:1.5em">
	<div id="pre-loader"></div>
	<div id="WebGL-output"></div>

	<div class="md-modal md-effect-19 md-effect-12 md-effect-13" id="updates-modal" style="text-align:center">
			<div class="md-content">
				<h3><b>Updates</b></h3>
				<div>
					<ul>
					{{#each updates}}
					<li>{{{this}}}</li>
					{{/each}}
					</ul>
					<button class="btnfos md-close">Close</button>
				</div>
			</div>
		</div>
		<div class="md-overlay"></div>
	<!-- the overlay element -->

	{{> nav}}

	<!-- ===== DESKTOP ===== -->
	<div class="row desktop animated bounceInRight" id="main-container" style="padding-top:2.5em;margin-top:3em">

		<div class="col-lg-12 club-container online" data-club="online">

			<div class="col-lg-2 desktop"></div>
			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<br>
				<br>
				<h4>ONLINE EVENTS</h4>
			</div>

			<div class="col-lg-4 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="online-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/online.gif" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- style="padding-top: 4em;font-size: 1.5em;" -->
							</div>

							<a href="/paperpresentation" class="hexagon_item online-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>PAPER PRESENTATION</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item online-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>


						</div><br><br>
						<!-- online END -->
					</article>
				</div>


			</div>

			<div class="col-lg-2 desktop"></div>

		</div>


		<div class="col-lg-12 club-container kludge" data-club="kludge">

			<div class="col-lg-1 desktop"></div>
			<div class="col-lg-5 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="kludge-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item kludge-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<a href="/events/enigma" class="hexagon_item kludge-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>ENIGMA</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/kludge.gif" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/hackamaze" class="hexagon_item kludge-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>HACK A MAZE</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item kludge-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>


							<!-- <div class="hexagon_item kludge-layer1" style="display:none"><div class="hexagon hexagon2"><div class="hexagon-in1"><div class="dummy-hexagon-in2"></div></div></div></div> -->


						</div><br><br>
						<!-- KLUDGE END -->
					</article>
				</div>


			</div>

			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>KLUDGE</h4>
				<p>Aims at creating an aware society, one that can use ethical hacking to improve the defensive techniques for the latest
					technology.
				</p>
			</div>
			<div class="col-lg-2 desktop"></div>

		</div>


		<div class="col-lg-12 club-container cephid" data-club="cephid">

			<div class="col-lg-2 desktop"></div>
			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>CEPHEID</h4>
				<p>Aims to expand the horizons of the students and develop a celestial passion among the students who seek knowledge in
					astronomy and astrophysics.</p>
			</div>

			<div class="col-lg-4 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="cephid-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item cephid-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>


							<a href="/events/paperplane" class="hexagon_item cephid-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>PAPER PLANE</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/cepheid.gif" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- style="padding-top: 4em;font-size: 1.5em;" -->
							</div>

							<a href="/events/thegalileoproject" class="hexagon_item cephid-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>THE GALILEO PROJECT</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item cephid-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>


						</div><br><br>
						<!-- CEPHID END -->
					</article>
				</div>


			</div>

			<div class="col-lg-2 desktop"></div>

		</div>

		<div class="col-lg-12 club-container infero" data-club="infero">

			<div class="col-lg-1 desktop"></div>
			<div class="col-lg-5 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="infero-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item infero-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<a href="/events/proquest" class="hexagon_item infero-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>PRO QUEST</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/infero.png" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/algorithma" class="hexagon_item infero-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>ALGORITHMA</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item infero-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

						</div><br><br>
						<!-- INFERO END -->
					</article>
				</div>


			</div>

			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>INFERO</h4>
				<p>Lively example of how computer-science can revolutionise the art of problem solving for one and all</p>
			</div>
			<div class="col-lg-2 desktop"></div>

		</div>


		<div class="col-lg-12 club-container ecell" data-club="ecell">

			<div class="col-lg-2 desktop"></div>
			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>E-CELL</h4>
				<p>Celebrates entrepreneurship and spreads the awareness by conducting various events.</p>
			</div>

			<div class="col-lg-4 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="ecell-container">

							<div class="hexagon_item ecell-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<div class="hexagon_item ecell">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<a href="/events/crowdpitch" class="hexagon_item ecell-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>CROWD PITCH</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/ecell.gif" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<a href="/events/salesmanoffest" class="hexagon_item ecell-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>SALESMAN OF FEST</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

						</div><br><br>
						<!-- E-CELL END -->
					</article>
				</div>


			</div>

			<div class="col-lg-2 desktop"></div>

		</div>

		<div class="col-lg-12 club-container robotics" data-club="robotics">

			<!-- <div class="col-lg-1 desktop"></div> -->
			<div class="col-lg-6 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="robotics-container">


							<a href="/events/roboquidditch" class="hexagon_item robotics-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>ROBO QUIDDITCH</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<a href="/events/robowars" class="hexagon_item robotics-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>ROBO WARS</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>


							<a href="/events/robosoccer" class="hexagon_item robotics-layer click_fix" style="display:none">
								<div class="translate layer3">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>ROBO SOCCER</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item robotics-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item robotics-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item robotics-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/robotics.png" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/pirates" class="hexagon_item robotics-layer click_fix" style="display:none">
								<div class="translate layer4">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>PIRATES</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>



						</div><br><br>
						<!-- ROBOTICS END -->
					</article>
				</div>


			</div>

			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>ROBOTICS</h4>
				<p>With a simple goal to expose the students to the ever wondrous field of robotics, aims to provide the opportunity and
					materials to harness the creativity of the students and provide a tangible proof of their ingenuity.</p>
			</div>
			<div class="col-lg-2 desktop">
				<b>Powered by</b>
				<img src="/img/events/Robofest.png" style="width: 100%">
			</div>

		</div>

		<div class="col-lg-12 club-container equilibria" data-club="equilibria">

			<div class="col-lg-2 desktop"></div>
			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>EQUILIBRIA</h4>
				<p>Focuses on some of the new technologies in civil engineering like green buildings.</p>
			</div>
			<div class="col-lg-4 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="equilibria-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item equilibria-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<a href="/events/junkyardwars" class="hexagon_item equilibria-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>JUNKYARD WARS</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>


							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/equilibiria.png" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/bridgebuilder" class="hexagon_item equilibria-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>BRIDGE BUILDER</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>


							<div class="hexagon_item equilibria-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

						</div><br><br>
						<!-- EQUILIBRIA END -->
					</article>
				</div>


			</div>

			<div class="col-lg-2 desktop"></div>

		</div>


		<div class="col-lg-12 club-container torque" data-club="torque">

			<div class="col-lg-1 desktop"></div>

			<div class="col-lg-5 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="torque-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item torque-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<a href="/events/driftking" class="hexagon_item torque-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>DRIFT KING</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/torque.gif" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/cadpro" class="hexagon_item torque-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>CADPRO</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
							<div class="hexagon_item torque-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
						</div><br><br>
						<!-- TORQUE END -->
					</article>
				</div>


			</div>

			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>TORQUE</h4>
				<p>Started by some automobile aficionados with members referred to as petrol-heads work together to nourish the passion
					of automobile enthusiasts.</p>
			</div>
			<div class="col-lg-2 desktop"></div>

		</div>


		<div class="col-lg-12 club-container electronika" data-club="electronika">

			<div class="col-lg-2 desktop"></div>
			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<h4>ELECTRONICA</h4>
				<p>Aims at teaching and helping people understand the seemingly incomprehensible electronic gadgets in the world today,
					and also assists people in developing their own devices.</p>
			</div>
			<div class="col-lg-4 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="electronika-container">

							<div class="hexagon_item electronika-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item electronika-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<a href="/events/dtmfrace" class="hexagon_item electronika-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>DTMF RACE</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<a href="/events/electronicbloopers" class="hexagon_item electronika-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>ELECTRONICS BLOOPERS</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/electronika.png" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/circuithunt" class="hexagon_item electronika-layer click_fix" style="display:none">
								<div class="translate layer3">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>CIRCUIT HUNT</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<a href="/events/jugaadit" class="hexagon_item electronika-layer click_fix" style="display:none">
								<div class="translate layer4">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>JUGAAD IT</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

						</div><br><br>
						<!-- ELECTRONICA END -->
					</article>
				</div>


			</div>

			<div class="col-lg-2 desktop"></div>

		</div>

		<div class="col-lg-12 club-container lambda" data-club="lambda">

			<div class="col-lg-1 desktop"></div>

			<div class="col-lg-5 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="lambda-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/torque.gif" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/quadcopterchallenge" class="hexagon_item lambda-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>QUADCOPTER CHALLENGE</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

						</div><br><br>
						<!-- lambda END -->
					</article>
				</div>


			</div>

			<div class="col-lg-4 col-xs-12" style="text-align:center">
			<br>
			<br>
				<h4>LAMBDA</h4>
				<p></p>
			</div>
			<div class="col-lg-2 desktop"></div>

		</div>



		<div class="col-lg-12 club-container quiz" data-club="quiz">

			<div class="col-lg-1 desktop"></div>

			<div class="col-lg-4 col-xs-12" style="text-align:center">
			<br>
			<br>
				<h4>QUIZ</h4>
				<p></p>
			</div>
			<div class="col-lg-4 col-xs-12">


				<div class="hexagon_wrapper custom-scrollbar wrapper1">
					<article>


						<div id="quiz-container">

							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item quiz-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>

							<a href="/events/automobilequiz" class="hexagon_item quiz-layer click_fix" style="display:none">
								<div class="translate layer1">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>AUTOMOBILE QUIZ</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>

							<div class="hexagon_item club_name">
								<div class="layer0">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<img src="/img/domains/quiz.png" height="70" width="70">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<a href="/events/scitechquiz" class="hexagon_item quiz-layer click_fix" style="display:none">
								<div class="translate layer2">
									<div class="hexagon hexagon2">
										<div class="hexagon-in1">
											<div class="hexagon-in2">
												<div class="hexagon_text">
													<span>SCI-TECH QUIZ</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
							<div class="hexagon_item quiz-helper">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
							<div class="hexagon_item">
								<div class="hexagon hexagon2">
									<div class="hexagon-in1">
										<div class="dummy-hexagon-in2"></div>
									</div>
								</div>
							</div>
						</div><br><br>
						<!-- quiz END -->
					</article>
				</div>


			</div>

			<div class="col-lg-2 desktop"></div>

		</div>

		<a href="/infi_events" style="text-decoration: none;" target="_blank">
		<div class="col-lg-12 club-container infi" data-club="infi">

			<div class="col-lg-1 desktop"></div>
			
			<div class="col-lg-5 col-xs-12">


			<div class="hexagon_wrapper custom-scrollbar wrapper1">
			    <article>


			    <div id="infi-container">

			    <div class="hexagon_item infi-helper"><div class="hexagon hexagon2"><div class="hexagon-in1"><div class="dummy-hexagon-in2"></div></div></div></div>
			    <div class="hexagon_item infi-helper"><div class="hexagon hexagon2"><div class="hexagon-in1"><div class="dummy-hexagon-in2"></div></div></div></div>

			   
			    <div class="hexagon_item club_name">
			        <div class="layer0">
				        <div class="hexagon hexagon2">
				            <div class="hexagon-in1">
				                <div class="hexagon-in2">
				                	<div class="hexagon_text">
				                		<img src="/img/domains/infi.png" height="70" width="70">
				                	</div>
				                </div>
				             </div>
				         </div>
			         </div>
			    </div>

		    </div><br><br> 
				</article>
			</div>


			</div>

			<div class="col-lg-4 col-xs-12" style="text-align:center">
				<br><br><h4 style="color: #fff">INFI</h4>
			</div>

			<div class="col-lg-2 desktop"></div>

		</div>
		</a>

	</div>
	<!-- ===== DESKTOP ===== -->


	<!-- ===== MOBILE ===== -->

	<div class="mobile" style="color:#000">

		

		<ul class="collapsible" data-collapsible="accordion" style="margin-top: 3em">
			<li>
				<div class="collapsible-header">ONLINE</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/paperpresentation" class="collection-item">PAPER PRESENTATION</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">KLUDGE</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/enigma" class="collection-item">ENIGMA</a>
						<a href="/events/hackamaze" class="collection-item">HACK A MAZE</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">CEPHID</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/paperplane" class="collection-item">PAPER PLANE</a>
						<a href="/events/thegalileoproject" class="collection-item">THE GALILEO PROJECT</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">INFERO</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/proquest" class="collection-item">PRO QUEST</a>
						<a href="/events/algorithma" class="collection-item">ALGORITHMA</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">E-CELL</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/crowdpitch" class="collection-item">CROWD PITCH</a>
						<a href="/events/salesmanoffest" class="collection-item">SALESMAN OF FEST</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">ROBOTICS</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/roboquidditch" class="collection-item">ROBO QUIDDITCH</a>
						<a href="/events/robosoccer" class="collection-item">ROBO SOCCER</a>
						<a href="/events/robowars" class="collection-item">ROBO WARS</a>
						<a href="/events/pirates" class="collection-item">PIRATES</a>
					</div>
				</div>
			</li>
		</ul>


		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">EQUILIBRIA</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/junkyardwars" class="collection-item">JUNKYARD WARS</a>
						<a href="/events/bridgebuilder" class="collection-item">BRIDGE BUILDERS</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">TORQUE</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/driftking" class="collection-item">DRIFT KING</a>
						<a href="/events/cadpro" class="collection-item">CADPRO</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">ELECTRONICA</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/dtmfrace" class="collection-item">DTMF RACE</a>
						<a href="/events/electronicbloopers" class="collection-item">ELECTRONIC BLOOPERS</a>
						<a href="/events/circuithunt" class="collection-item">CIRCUIT HUNT</a>
						<a href="/events/jugaadit" class="collection-item">JugAAD IT</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">LAMBDA</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/quadcopterchallenge" class="collection-item">QUADCOPTER CHALLENGE</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">QUIZ</div>
				<div class="collapsible-body">
					<div class="collection">
						<a href="/events/automobilequiz" class="collection-item">AUTOMOBILE QUIZ</a>
						<a href="/events/scitechquiz" class="collection-item">SCI-TECH QUIZ</a>
					</div>
				</div>
			</li>
		</ul>

		<ul class="collapsible" data-collapsible="accordion">
		  <li>
		    <div class="collapsible-header">INFI</div>
		    <div class="collapsible-body">
		    	<div class="collection">
						<a href="/events/minutetowinit" class="collection-item">MINUTE TO WIN IT</a>
						<a href="/events/langaming" class="collection-item">LAN GAMING</a>
						<a href="/events/finaldestination" class="collection-item">FINAL DESTINATION</a>
						<a href="/events/madads" class="collection-item">MAD ADS</a>
						<a href="/events/foodathon" class="collection-item">FOODATHON</a>
						<a href="/events/wheeloffortune" class="collection-item">WHEEL OF FORTUNE</a>
						<a href="/events/casinoroyale" class="collection-item">CASINO ROYALE</a>
						<a href="/events/humansnakesandladder" class="collection-item">HUMAN SNAKE AND LADDERS</a>
						<a href="/events/walktheramp" class="collection-item">WALK THE RAMP</a>
						<a href="/events/conversationcoffee" class="collection-item">CONVERSATION COFFEE</a>
						<a href="/events/campusprincess" class="collection-item">CAMPUS PRINCESS</a>
				</div>
		    </div>
		  </li>
		</ul>

	</div>

	<!-- ===== MOBILE ===== -->
		{{> footer}}

		
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/hexagon.js"></script>
	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script src="js/main.js"></script>
	<!-- <link rel="stylesheet" href="css/stars.css"> -->
	<script src="/js/TweenMax.min.js"></script>
	<script src="/js/ScrollMagic.js"></script>
	<script src="/js/animation.gsap.js"></script>
	<script>
	var controller = new ScrollMagic.Controller();
</script>

	<script>
	var tween = new TimelineMax ()
	.add([
		TweenMax.fromTo(".club-container.online", 1, {}, {top: -1080, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.kludge", 1, {}, {top: -960, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.cephid", 1, {}, {top: -840, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.infero", 1, {}, {top: -720, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.ecell", 1, {}, {top: -600, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.robotics", 1, {}, {top: -480, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.equilibria", 1, {}, {top: -360, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.torque", 1, {}, {top: -240, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.electronika", 1, {}, {top: -120, ease: Linear.easeNone}),
		TweenMax.fromTo(".club-container.infi", 1, {}, {top: -0, ease: Linear.easeNone})
	]);

	// build scene
	var scene = new ScrollMagic.Scene({duration: $(window).width()})
				.setTween(tween)
				.addTo(controller);

	</script>

	<script src="/js/updates.js"></script>
	<script src="/js/scrollreveal.min.js"></script>
	<script src="/js/three.min.js"></script>

	<script>
	
	window.sr = ScrollReveal();

	var fooReveal = {
	  delay    : 200,
	  distance : '50px',
	  easing   : 'ease-in-out'
	};

	var fooReveal2 = {
	  delay    : 200,
	  distance : '50px',
	  easing   : 'ease-in-out',
	  scale    : 2
	};

	sr.reveal('.kludge',fooReveal);
	sr.reveal('.cephid',fooReveal);
	sr.reveal('.infero',fooReveal);
	sr.reveal('.ecell',fooReveal);
	sr.reveal('.robotics',fooReveal);
	sr.reveal('.equilibria',fooReveal);
	sr.reveal('.torque',fooReveal);
	sr.reveal('.electronika',fooReveal);

	sr.reveal('#kludge-container',fooReveal2);
	sr.reveal('#cephid-container',fooReveal2);
	sr.reveal('#infero-container',fooReveal2);
	sr.reveal('#ecell-container',fooReveal2);
	sr.reveal('#robotics-container',fooReveal2);
	sr.reveal('#equilibria-container',fooReveal2);
	sr.reveal('#torque-container',fooReveal2);
	sr.reveal('#electronika-container',fooReveal2);

</script>
</body>

</html>