<div style="width:100%;background-color:#072347;padding:3em 0 6em 0">
	<div style="
		background-image:url(https://nvision.org.in/img/nvision.png);
		height:10em;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	"></div>
	<p style="color:#fff;font-size:1.2em;text-align:center">
		Here is the last step of your signup.<br><br>
		<a href="https://nvision.org.in/something" style="text-decoration: none;background-color:#00ccff;color:#072347;padding:6px;border-radius:3px">Click me</a> to verify your email<br><br>

		(or) copy and paste this below link in your web browser<br>
		<a href="https://nvision.org.in/something" style="color:#00ccff">https://nvision.org.in/something</a>
	</p>

	<p style="color:#fff;font-size:1.2em;text-align:center">
		Thank You,<br>
		&eta;vision team
	</p>
</div>