<!DOCTYPE html>
<html lang="en-IN">

<head>
    <meta charset="utf-8">
    <title>Register | &eta;vision 2017 | Techno management fest of IIT Hyderabad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="&eta;vision is the techno-management fest of IIT Hyderabad.">
    <meta name="copyright" content="&eta;vision 2017">
    <meta name="author" content="&eta;vision 2017">
    <meta name="keyword" content="nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#283389">
    <meta property="og:site_name" content="&eta;vision">
    <meta property="og:title" content="&eta;vision 2017">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://nvision.org.in/img/logo.png">
    <meta property="og:url" content="https://nvision.org.in/signin/">
    <meta property="og:description" content="&eta;vision: techno-management Fest of IIT Hyderabad">

    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/updates.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="css/stars.css" media="only screen and (min-width: 600px)">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    .md-close {
      color: #fff;
      margin-top: 6em !important;
      border: 1px solid #fff;
      transition-duration: 0.3s;
    }
    
    .md-close:hover {
      background-color: #fff !important;
      color: #000 !important;
    }
    
    .md-content {
      /*width: 70vw;*/
      /*height: 100vh;*/
      text-align: center;
      padding-top: 6em;
      border: 1px solid #fff;
    }
    
    .md-content {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }


    .form-btn {
      width: 100%;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      background: #1AAB8A;
      color: #000;
      border: none;
      position: relative;
      height: 40px;
      font-size: 1.2em;
      padding: 0.5em 2em;
      cursor: pointer;
      transition: 800ms ease all;
      outline: none;
    }
    
    .form-btn:hover {
      background: #000;
      color: #1AAB8A;
    }
    
    .form-btn:before,
    .form-btn:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 2px;
      width: 0;
      background: #1AAB8A;
      transition: 400ms ease all;
    }
    
    .form-btn:after {
      right: inherit;
      top: inherit;
      left: 0;
      bottom: 0;
    }
    
    .form-btn:hover:before,
    .form-btn:hover:after {
      width: 100%;
      transition: 800ms ease all;
    }

  </style>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89025632-1', 'auto');
    ga('send', 'pageview');

</script>
</head>

<body class="custom-scrollbar" style="overflow-x:hidden">
<div id="pre-loader"></div>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="md-modal md-effect-19 md-effect-12 md-effect-13" id="updates-modal" style="text-align:center">
<div class="md-content">
    <h3><b>Updates<span style="color:#f00;font-size:1.2em;font-weight:bold">&#33;</span>
</b>
</h3>
<div>
    <ul>
        {{#each updates}}
        <li>{{{this}}}</li>
        {{/each}}
    </ul>
    <button class="btnfos md-close">Close</button>
</div>
</div>
</div>
<div class="md-overlay"></div>
<!-- the overlay element -->

<nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-activates="slide-out" class="navbar-toggle collapsed button-collapse" aria-expanded="false" style="background-color:#000;position:fixed;right:0">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand mobile" href="/">
    <img id="navlogo" alt="Brand" src="/img/nvision.png">
</a>
</div>
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <a href="/"><img class="img-responsive" src="/img/nvision_b.png"></a>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>

    <li>
        <a class="btnfos md-trigger md-setperspective" data-modal="updates-modal">
            <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%" />
            </svg>Updates&nbsp;<span style="color:#f00;font-size:1.2em;font-weight:bold">&#33;</span>
</a>
</li>
<li>
    <a href="/about" class="btnfos">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>About</a>
</li>
<li>
    <a href="/events" class="btnfos">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Events</a>
</li>
<li>
    <a href="/exhibitions" class="btnfos">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Exhibitions</a>
</li>
<li>
    <a href="/sponsors" class="btnfos">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Sponsors</a>
</li>
<li>
    <a href="/workshops" class="btnfos">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Workshops</a>
</li>
<li>
    <a href="https://blog.nvision.org.in/" class="btnfos">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Blog</a>
</li>
<li>
    <a href="/team" class="btnfos">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Team</a>
</li>
<li class="dropdown">
    <a href="#" class="btnfos dropdown-toggle" data-toggle="dropdown">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Archives<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="https://old.nvision.org.in/" class="btnfos" target="_blank">2016</a></li>
        <li><a href="/2014" class="btnfos" target="_blank">2014</a></li>
    </ul>
</li>
<li>
    {{#if user}}
    <a href="#" class="btnfos dropdown-toggle" data-toggle="dropdown">
        <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
        </svg>Hi, {{user.name.first}}<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/dashboard" class="btnfos btnfosd" style="width: 10em;">Dashboard</a>
</li><br>
<li>
    <a href="/keystone/signout" class="btnfos btnfosd" style="width: 10em;">Signout</a>
</li>
</ul>
{{else}}
<a href="/signin" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Register</a>
{{/if}}
</li>
</ul>
<div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav navbar-left" style="width:37%;">
<li style="width:25%">
<a class="btnfos md-trigger md-setperspective" data-modal="updates-modal">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Updates&nbsp;<span style="color:#f00;font-size:1.2em;font-weight:bold">&#33;</span>
</a>
</li>
<li style="width:25%">
<a href="/events" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Events</a>
</li>
<li style="width:25%">
<a href="/sponsors" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Sponsors</a>
</li>
<li style="width:25%">
<a href="/workshops" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Workshops</a>
</li>
</ul>

<ul class="nav navbar-nav navbar-left" style="width:23%;">
<li style="width:100%;">
<a href="/" class="btnfos">
    <img src="/img/nvision.png" width="300">
</a>
</li>
</ul>
<ul class="nav navbar-nav navbar-right" style="width:40%;">
<li style="width:20%">
<a href="/exhibitions" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Exhibitions</a>
</li>
<li style="width:20%">
<a href="https://blog.nvision.org.in/" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Blog</a>
</li>
<li style="width:20%">
<a href="/team" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Team</a>
</li style="width:20%">
<li class="dropdown" style="width:20%">
<a href="#" class="btnfos dropdown-toggle" data-toggle="dropdown">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Archives<span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li><a href="https://old.nvision.org.in/" class="btnfos btnfosd" target="_blank">2016</a></li>
    <li>
        <a href="/2014" class="btnfos btnfosd" target="_blank">2014</a>
    </li>
</ul>
</li>
<li style="width:20%"> {{#if user}}
<a href="#" class="btnfos dropdown-toggle" data-toggle="dropdown">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Hi, {{user.name.first}}<span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li>
        <a href="/dashboard" class="btnfos btnfosd" style="width: 10em;">Dashboard</a>
</li><br>
<li>
    <a href="/keystone/signout" class="btnfos btnfosd" style="width: 10em;">Signout</a>
</li>
</ul>
{{else}}
<a href="/signin" class="btnfos">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
    </svg>Register</a>
{{/if}}
</li>
</ul>
</div>
</div>
</nav>

<div class="container-fluid" style="margin-top: 2em;">

    <div class="row">

        <form id="formpaper" action="/paperpresentation" method="post" enctype="multipart/form-data">
            <div class="col-lg-12">
                <h3 style="text-align:center">Paper Presentation</h3>
<div>

    <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input id="topic" name="topic" type="text" class="validate input-signup">
        <label for="topic">Topic</label>
    </div>

    <div class="col s12">
        <input style="color: white !important;z-index: 12;position: relative" type="radio" id="ugorgug" name="ugorg" value="Undergraduate" class="with-gap">
        <label for="ugorgug">Undergraduate</label>
    </div><div class="col s12">
        <input style="color: white !important;z-index: 12;position: relative" type="radio" id="ugorgg" name="ugorg" value="Graduate" class="with-gap">
        <label for="ugorgg">Graduate</label>
    </div>

    <div class="file-field input-field col s12">
      <div class="btn">
        <span>Upload Paper</span>
        <input type="file" id="paper" name="paper">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <button id="signup" class="form-btn" type="submit">Submit</button>
    </form>

</div>

</div>

</div>


</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/updates.js"></script>

<script type="text/javascript">

    var files;
    $('input[type=file]').on('change', prepareUpload);

// Grab the files and set them to our variable
function prepareUpload(event)
{
  files = event.target.files;
  console.log(files);
}



    $("input[name=ugorg]").click(function(){
        $(this).attr('checked', 'checked');
    });

    {{!--$("#formpaper").on('submit', function(e){
        e.preventDefault();
        var data = new FormData();
        $.each(files, function(key, value){
            data.append(key,value);
        });
        data.append('ugorg', $("input[name=ugorg]").val());
        data.append('topic', $("#topic").val());
        console.log(data);
        $.ajax({
            url: '/paper',
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data, sts, xhr) {
                if (data.status) {
                    alert(data.message);
                    location = '/dashboard';
                }
                else {
                    alert(data.message);
                }
            }
        });
    });--}}

    {{#if message}}
    alert('{{message}}');
    {{/if}}
</script>

</body>

</html>