<!DOCTYPE html>
<html lang="en-IN">

<head>

  <meta charset="utf-8">
	<title>Sponsors | &eta;vision 2017 | Techno management fest of IIT Hyderabad</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="&eta;vision is the techno-management fest of IIT Hyderabad.">
	<meta name="copyright" content="&eta;vision 2017">
	<meta name="author" content="&eta;vision 2017">
	<meta name="keyword" content="nvision,vision,techno,tech,management,technical,iit hyderabad, iit,fest, competitions,events,event,hyderabad,iith,students,robots,sponsors,games,awesome,workshops,kludge,infero,cephid,ecell,robotics,equilibria,torque,electronica">
	<meta name="robots" content="index, follow">
	<meta name="theme-color" content="#283389">
	<meta property="og:site_name" content="&eta;vision">
	<meta property="og:title" content="&eta;vision 2017">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://nvision.org.in/img/logo.png">
	<meta property="og:url" content="https://nvision.org.in/sponsors/">
	<meta property="og:description" content="&eta;vision: techno-management Fest of IIT Hyderabad">
  
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="css/updates.css">

  <style>
    body {
      background-color: #000;
      background-image: url(/img/black-felt.png);
      background-attachment: fixed;
      overflow-x: hidden;
      padding-top: 70px;
    }
  
    .scrolled {
      background-color: black;
    }
    
    .thumbnail {
      background-color: transparent !important;
      margin-top: 2em;
      margin-bottom: 2em;
    }
    
    .thumb a {
      background-color: #fff !important;
      background-image: url(/img/black-felt.png);
      border: 2px solid transparent;
      text-decoration: none;
      transition: box-shadow 0.3s;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
    }
    
    a.thumbnail:hover,
    a.thumbnail:focus,
    a.thumbnail.active {
      border-color: transparent !important;
    }
    
    .thumb a:hover {
      box-shadow: 0 0 10px #262626, 0 0 70px #262626;
    }
    
    .thumb a p {
      text-align: center;
    }
    
    .sponsor-type-title {
      text-align: center;
      font-size: 300%;
      color: #fff;
      font-weight: bold;
    }
    
    .sponsor-name,
    .sponsor-role {
      color: #000;
      white-space: nowrap;
      overflow-x: hidden;
    }
    
    .sponsor-name {
      font-weight: bold;
      font-size: 18px;
    }
    
    .sponsor-role {
      font-size: 15px;
    }
    
    @media only screen and (max-width: 768px) {
      .threecolfixz {
        display: none;
      }
    }
    
    #navbar-top {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)) !important;
    }
    
    h4 {
      text-align: center;
    }
  </style>

  <style>
    .md-close {
      color: #fff;
      margin-top: 6em !important;
      border: 1px solid #fff;
      transition-duration: 0.3s;
    }
    
    .md-close:hover {
      background-color: #fff !important;
      color: #000 !important;
    }
    
    .md-content {
      /*width: 70vw;*/
      /*height: 100vh;*/
      text-align: center;
      padding-top: 6em;
      border: 1px solid #fff;
    }
    
    .md-content {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }
  </style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89025632-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body class="custom-scrollbar">
  <div id="pre-loader"></div>

  <div class="md-modal md-effect-19 md-effect-12 md-effect-13" id="updates-modal" style="text-align:center">
    <div class="md-content">
      <h3><b>Updates</b></h3>
      <div>
        <ul>
          {{#each updates}}
          <li>{{{this}}}</li>
          {{/each}}
        </ul>
        <button class="btnfos md-close">Close</button>
      </div>
    </div>
  </div>
  <div class="md-overlay"></div>
  <!-- the overlay element -->

  {{> nav}}


  <div class="row" style="margin-top:3em">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="row">

        <legend class="sponsor-type-title">Current Sponsor</legend>

        <h4>Title Sponsor</h4>

        <div class="col-lg-4 col-sm-3 hidden-xs thumb"></div>

        <div class="col-lg-4 col-sm-6 col-xs-12 thumb" style="padding: 0 4em;">
          <a class="thumbnail" style="width: 100%" target="_blank" href="http://www.cyient.com/">
            <img class="img-responsive" src="/img/sponsors/cyient.png" />
            <p class="sponsor-name">Cyient</p>
            <p class="sponsor-role">Title Sponsor</p>
          </a>
        </div>

        <div class="col-lg-4 col-sm-3 hidden-xs thumb"></div>
      </div>
      <div class="row">

        <h4>Sponsors</h4>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.whataftercollege.com/">
            <img class="img-responsive" src="/img/sponsors/wac.png" />
            <p class="sponsor-name">What After College</p>
            <p class="sponsor-role">Major Sponsor</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.ablab.in/">
            <img class="img-responsive" src="/img/sponsors/ABLab_solutions.png" />
            <p class="sponsor-name">ABLab Solutions</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.upto75.com/">
            <img class="img-responsive" src="/img/sponsors/up275.png" />
            <p class="sponsor-name">UPto75.com</p>
            <p class="sponsor-role">Coupon Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://www.hellointern.com/">
            <img class="img-responsive" src="/img/sponsors/hello_intern.png" />
            <p class="sponsor-name">Hello Intern</p>
            <p class="sponsor-role">Youth Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://www.brainbuxa.com/">
            <img class="img-responsive" src="/img/sponsors/brain_buxa.png" />
            <p class="sponsor-name">BrainBuxa</p>
            <p class="sponsor-role">Educational Partner</p>
          </a>
        </div>


        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://misfits.io/">
            <img class="img-responsive" src="/img/sponsors/misfits.png" />
            <p class="sponsor-name">The Misfits</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://fests.info/">
            <img class="img-responsive" src="/img/sponsors/Fests.info.png" />
            <p class="sponsor-name">Fests.info</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.techienest.in/">
            <img class="img-responsive" src="/img/sponsors/techienest.png" />
            <p class="sponsor-name">Techie Nest</p>
            <p class="sponsor-role">Outreach Sponsor</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.textlocal.in/">
            <img class="img-responsive" src="img/sponsors/textlocal.png"/>
            <p class="sponsor-name">Textlocal</p>
            <p class="sponsor-role">Messaging Partner</p>
          </a>
        </div>

        <!--<div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://perkevents.com/">
            <img class="img-responsive" src="img/sponsors/perkevents.png"/>
            <p class="sponsor-name">Perk Events</p>
            <p class="sponsor-role">Event Service Partner</p>
          </a>
        </div>-->

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.techeagle.in/">
            <img class="img-responsive" src="img/sponsors/techeagle.png"/>
            <p class="sponsor-name">Tech Eagle</p>
            <p class="sponsor-role">Outreach Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.novatechrobo.com/robofesthyd.html">
            <img class="img-responsive" src="img/sponsors/novatech.png"/>
            <p class="sponsor-name">Novatech</p>
            <p class="sponsor-role">Domain Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.imthyderabad.edu.in/">
            <img class="img-responsive" src="img/sponsors/imt.png"/>
            <p class="sponsor-name">IMT Hyderabad</p>
            <p class="sponsor-role">Knowledge Partner</p>
          </a>
        </div>

        <div class="col-lg-4 col-sm-2 hidden-xs thumb"></div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.atkt.in/">
            <img class="img-responsive" src="img/sponsors/atkt.png"/>
            <p class="sponsor-name">ATKT.IN</p>
            <p class="sponsor-role">Content Partner</p>
          </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.internshala.com/">
            <img class="img-responsive" src="img/sponsors/internshala.png"/>
            <p class="sponsor-name">Internshala</p>
            <p class="sponsor-role">Internship and Training<br> partner</p>
          </a>
        </div>

      </div>

      <legend class="sponsor-type-title">Previous Sponsors</legend>

      <div class="row">

        <h4>Powered By</h4>

        <div class="col-lg-4 col-sm-2 hidden-xs thumb"></div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://www.coyatri.com/">
            <img class="img-responsive" src="/img/sponsors/coyatri.png" />
            <p class="sponsor-name">CoYatri</p>
            <p class="sponsor-role">CO-Title Sponsor</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.novatechrobo.com/">
            <img class="img-responsive" src="/img/sponsors/novatechlogo.png" />
            <p class="sponsor-name">Novatech Robo</p>
            <p class="sponsor-role">CO-Title Sponsor</p>
          </a>
        </div>

      </div>

      <div class="row">

        <h4>Sponsors</h4>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.i3indyatechnologies.com/">
            <img class="img-responsive" src="/img/sponsors/i3indya.png" />
            <p class="sponsor-name">I3 Indya</p>
            <p class="sponsor-role">Workshop Outreach Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.solutionsinfini.com/">
            <img class="img-responsive" src="/img/sponsors/solinfini.png" />
            <p class="sponsor-name">Solutions Infini</p>
            <p class="sponsor-role">SMS Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.spacekidzindia.com/">
            <img class="img-responsive" src="/img/sponsors/spacekidz.png" />
            <p class="sponsor-name">Space Kidz India</p>
            <p class="sponsor-role">Event Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://popsci.in/">
            <img class="img-responsive" src="/img/sponsors/popsci.png" />
            <p class="sponsor-name">Popular Science</p>
            <p class="sponsor-role">Magazine Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://campusdiaries.com/">
            <img class="img-responsive" src="/img/sponsors/campusdiaries.png" />
            <p class="sponsor-name">Campus Diaries</p>
            <p class="sponsor-role">Wingman</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://www.hackerrank.com/">
            <img class="img-responsive" src="/img/sponsors/hackerrank.png" />
            <p class="sponsor-name">HackerRank</p>
            <p class="sponsor-role">Event Sponsor</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://in.bluehost.com/">
            <img class="img-responsive" src="/img/sponsors/bh.png" />
            <p class="sponsor-name">Bluehost</p>
            <p class="sponsor-role">Event Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://campusdiaries.com/25under25/home">
            <img class="img-responsive" src="/img/sponsors/25under25-logo.png" />
            <p class="sponsor-name">GenX 25 under 25</p>
            <p class="sponsor-role">Event Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="https://www.indianinstituteofphotography.com/">
            <img class="img-responsive" src="/img/sponsors/iip.png" />
            <p class="sponsor-name">IIP</p>
            <p class="sponsor-role">Photography Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.eenadu.net/">
            <img class="img-responsive" src="/img/sponsors/eenadu.png" />
            <p class="sponsor-name">Eenadu</p>
            <p class="sponsor-role">Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.etv.co.in/channels/home?channelId=2">
            <img class="img-responsive" src="/img/sponsors/etv_telangana.png" />
            <p class="sponsor-name">ETV Telangana</p>
            <p class="sponsor-role">Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.manyagroup.com/">
            <img class="img-responsive" src="/img/sponsors/logo-new.png" />
            <p class="sponsor-name">Manya Group</p>
            <p class="sponsor-role">Education Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.ifc3india.com/">
            <img class="img-responsive" src="/img/sponsors/website_ifc3.png" />
            <p class="sponsor-name">IFC3 India</p>
            <p class="sponsor-role">Event Sponsor</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.ibm.com/">
            <img class="img-responsive" src="/img/sponsors/ibm.png" />
            <p class="sponsor-name">IBM</p>
            <p class="sponsor-role">Drone Sponsor</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.ibgroup.io/index.html">
            <img class="img-responsive" src="/img/sponsors/ib.png" />
            <p class="sponsor-name">iB Group</p>
            <p class="sponsor-role">Stall Sponsor</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.frogo.in/">
            <img class="img-responsive" src="/img/sponsors/frogo.png" />
            <p class="sponsor-name">Frogo</p>
            <p class="sponsor-role">Gift Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.nestaway.com/">
            <img class="img-responsive" src="/img/sponsors/nestaway.png" />
            <p class="sponsor-name">nestaway</p>
            <p class="sponsor-role">Hospitality Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.ebay.in/">
            <img class="img-responsive" src="/img/sponsors/ebay.png" />
            <p class="sponsor-name">ebay.in</p>
            <p class="sponsor-role">Coupon Partner</p>
          </a>
        </div>

        <div class="col-lg-2 hidden-md hidden-sm hidden-xs col-xs-6 thumb"></div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.pikeducation.com/">
            <img class="img-responsive" src="/img/sponsors/pik_site_logo.png" />
            <p class="sponsor-name">Pik Education</p>
            <p class="sponsor-role">Education Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.spykar.com/">
            <img class="img-responsive" src="/img/sponsors/spykar.png" />
            <p class="sponsor-name">Spykar</p>
            <p class="sponsor-role">Fashion Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.isic.co.in/">
            <img class="img-responsive" src="/img/sponsors/ISIC_logo1.png" />
            <p class="sponsor-name">ISIC Student Cards</p>
            <p class="sponsor-role">Coupon Partner</p>
          </a>
        </div>

         <div class="hidden-lg col-sm-4 hidden-xs thumb"></div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="#">
            <img class="img-responsive" src="/img/sponsors/sonyo.png" />
            <p class="sponsor-name">Sonyo Garments</p>
            <p class="sponsor-role">Official Merchandise Partner</p>
          </a>
        </div>

      </div>
      <div class="row">

        <h4>Online Media Partners</h4>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://thecollegefever.com/">
            <img class="img-responsive" src="/img/sponsors/thecollegefever.png" />
            <p class="sponsor-name">TheCollegeFever</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://penumbramag.com/">
            <img class="img-responsive" src="/img/sponsors/Penumbra.png" />
            <p class="sponsor-name">Penumbra</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://festpav.com/">
            <img class="img-responsive" src="/img/sponsors/Festpav.png" />
            <p class="sponsor-name">Festpav</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://springtide.in/">
            <img class="img-responsive" src="/img/sponsors/SpringTide.png" />
            <p class="sponsor-name">SpringTide</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://fests.info/">
            <img class="img-responsive" src="/img/sponsors/Fests.info.png" />
            <p class="sponsor-name">Fests.info</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://testfunda.com/">
            <img class="img-responsive" src="/img/sponsors/TestFunda.png" />
            <p class="sponsor-name">TestFunda</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 hidden-md hidden-sm hidden-xs col-xs-6 thumb"></div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://indiacollegefest.com/">
            <img class="img-responsive" src="/img/sponsors/icf.png" />
            <p class="sponsor-name">IndiaCollegeFest.com</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://www.knowafest.com/">
            <img class="img-responsive" src="/img/sponsors/bottomlogo.png" />
            <p class="sponsor-name">Know A Fest</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://jammag.com/">
            <img class="img-responsive" src="/img/sponsors/jam.png" />
            <p class="sponsor-name">JAM</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>

         <div class="hidden-lg col-sm-4 hidden-xs thumb"></div>

        <div class="col-lg-2 col-sm-4 col-xs-6 thumb">
          <a class="thumbnail" target="_blank" href="http://indiansnews.com/">
            <img class="img-responsive" src="/img/sponsors/in.png" />
            <p class="sponsor-name">Indiansnews.com</p>
            <p class="sponsor-role">Online Media Partner</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  {{> footer}}

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/updates.js"></script>
</body>

</html>