<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>


    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>

<style>
body {
    margin-top: 2%
}
</style>


</head>

<body>

<div class="container">
    <a href="/checkin">check in </a>
    <a href="/admin/team">Team registration</a>
    <a href="/admin/onspot">Onspot egistration</a>
	<div class="row">
        <div class="col-md-3">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="qsearch" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button id="search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
        </div>
        <div class="col-md-9"></div>
		<div class="col-md-12">
    	 <table class="table table-list-search">
                    <thead>
                        <tr>
                            <th>IITH ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>College</th>
                            <th>Check in</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <!--<tr>
                            <td>Sample</td>
                            <td>Filter</td>
                            <td>12-11-2011 11:11</td>
                            <td>OK</td>
                            <td>123</td>
                            <td>Do some other</td>
                        </tr>
                        <tr>
                            <td>Try</td>
                            <td>It</td>
                            <td>11-20-2013 08:56</td>
                            <td>It</td>
                            <td>Works</td>
                            <td>Do some FILTERME</td>
                        </tr>
                        <tr>
                            <td>§</td>
                            <td>$</td>
                            <td>%</td>
                            <td>&</td>
                            <td>/</td>
                            <td>!</td>
                        </tr>-->
                    </tbody>
                </table>   
		</div>
	</div>
</div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js'></script>

    <script>

    function checkin(i) {
        console.log('save');
        var $this = $("button[data-index='"+i+"']");
        var data = {
            check: true
        }
        $this.html("saving")
        $.post("/checkin/"+i, data, function(data, sts){
            if (!data || !data.status) {
                $this.html("Error, click again");
            }
            else {
                $this.parent().html("Checked in");
            }
        });
    }
$(document).ready(function() {
    $("#qsearch").on("keypress", function(e){
        if (e.charCode == 13) {
            $("#search").click();
        }
    })
    function pad(num, size) {
        var s = num+"";
        while (s.length < size) s = "0" + s;
        return s;
    }
    $("#search").click(function(){
        var q = $("#qsearch").val();
        if (q.toUpperCase().substring(0, 6) == "IITH17") {
            q = q.toUpperCase();
            $.post('/checkin/user', {q: q}, function(data, sts){
                $("tbody").html(`
                    <tr>
                        <td>${q}</td>
                        <td>${data.name.first} ${data.name.last}</td>
                        <td>${data.email}</td>
                        <td>${data.phone}</td>
                        <td>${data.college}</td>
                        <td>${data.checkedIn ? "checkedin " : '<button class="save" onclick="checkin(\''+data._id+'\')" data-index="'+data._id+'">Ckeck in</button>'}</td>
                    </tr>
                `);
            });
        }
        else {
            $.get('/keystone/api/users?search='+encodeURIComponent(q)+'&fields=name%2Cuserid%2Cemail%2Ccollege%2Cphone%2CcheckedIn&limit=100&sort=name&expandRelationshipFields=false',
            function(dat, sts){
                $("tbody").html("");
                for (x in  dat.results) {
                    var data = dat.results[x];
                    $("tbody").append(`
                        <tr>
                            <td>${"IITH17"+pad(data.fields.userid, 4)}</td>
                            <td>${data.name}</td>
                            <td>${data.fields.email}</td>
                            <td>${data.fields.phone}</td>
                            <td>${data.fields.college}</td>
                            <td>${data.fields.checkedIn ? "Checked in " : '<button class="save" onclick="checkin(\''+data.id+'\')" data-index="'+data.id+'">Check in</button>'}</td>
                        </tr>
                    `);
                }
            })
        }
    });
    $(".save").click(function(){
        console.log('save');
        var $this = $(this);
        var i = $this.attr("data-index");
        var data = {
            check: true
        }
        $this.html("saving")
        $.post("/checkin/"+i, data, function(data, sts){
            if (!data || !data.status) {
                $this.html("Error, click again");
            }
            else {
                $this.parent().html("Checked in");
            }
        });
    });
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    // $('#system-search').keyup( function() {
    //    var that = this;
    //     // affect all table rows on in systems table
    //     var tableBody = $('.table-list-search tbody');
    //     var tableRowsClass = $('.table-list-search tbody tr');
    //     $('.search-sf').remove();
    //     tableRowsClass.each( function(i, val) {
        
    //         //Lower text for case insensitive
    //         var rowText = $(val).text().toLowerCase();
    //         var inputText = $(that).val().toLowerCase();
    //         if(inputText != '')
    //         {
    //             $('.search-query-sf').remove();
    //             tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
    //                 + $(that).val()
    //                 + '"</strong></td></tr>');
    //         }
    //         else
    //         {
    //             $('.search-query-sf').remove();
    //         }

    //         if( rowText.indexOf( inputText ) == -1 )
    //         {
    //             //hide rows
    //             tableRowsClass.eq(i).hide();
                
    //         }
    //         else
    //         {
    //             $('.search-sf').remove();
    //             tableRowsClass.eq(i).show();
    //         }
    //     });
    //     //all tr elements are hidden
    //     if(tableRowsClass.children(':visible').length == 0)
    //     {
    //         tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
    //     }
    // });
});
    </script>

</body>

</html>