<nav id="navbar-top" class="navbar navbar-inverse navbar-fixed-top" style="z-index:1000;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-activates="slide-out" class="navbar-toggle collapsed button-collapse" aria-expanded="false" style="background-color:#000;position:fixed;right:0">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img id="navlogo" alt="Brand" src="img/nvision.png">
				</a>
			</div>
			<ul id="slide-out" class="side-nav">
				<li><div class="userView">
					<img class="img-responsive" src="img/nvision_b.png">
				</div></li>
				<li><div class="divider"></div></li>

						<li><a href="#" class="btnfos md-trigger md-setperspective" data-modal="updates-modal" ><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Updates&nbsp;<span style="color:#f00;font-size:1.2em;font-weight:bold">&#33;</span></a></li>
						<li><a href="/about" class="btnfos" ><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>About us</a></li>
						<li><a href="/events" class="btnfos" ><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Events</a></li>
						<li><a href="/sponsors" class="btnfos" ><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Sponsors</a></li>
						<li><a href="/workshops" class="btnfos" ><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Workshops</a></li>
						<li><a href="/team" class="btnfos" ><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Team</a></li>
			</ul>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="btnfos md-trigger md-setperspective" data-modal="updates-modal" style="color:#000 !important"><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Updates&nbsp;<span style="color:#f00;font-size:1.2em;font-weight:bold">&#33;</span></a></li>
					<li><a href="/about" class="btnfos" style="color:#000 !important"><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>About us</a></li>
					<li><a href="/events" class="btnfos" style="color:#000 !important"><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Events</a></li>
					<li><a href="/sponsors" class="btnfos" style="color:#000 !important"><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Sponsors</a></li>
					<li><a href="/workshops" class="btnfos" style="color:#000 !important"><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Workshops</a></li>
					<li><a href="/team" class="btnfos" style="color:#000 !important"><svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>Team</a></li>
				</ul>
			</div>
		</div>
	</nav>
